{% extends 'base.html' %}


{% block title %}
<title>Home</title>
{% endblock title %}

{% block body %}


<!-- Main Content -->
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to the Book Management System</h1>
        <p class="lead">Manage your book collection easily with our system.</p>
        <hr class="my-4">
        <p>Use the buttons below to add new books or view your collection.</p>
        <a class="btn btn-primary btn-lg" href="/addBook/" role="button">Add Book</a>
        <a class="btn btn-success btn-lg" href="/viewBook/" role="button">View Books</a>
    </div>
</div>


{% endblock body %}