{% extends 'base.html' %}


{% block title %}
<title>{{book.book_name}}</title>
{% endblock title %}



{% block body %}

<div class="container mt-5">
    <div class="row">
        <!-- Book Image -->
        <div class="col-md-4">
            <img src="/{{book.book_image}}" style="height: 350px; width:300px" alt="Book Image"
                class="img-fluid rounded">
        </div>

        <!-- Book Details -->
        <div class="col-md-8">
            <h2 class="mb-3">{{book.book_name}}</h2>
            <p><strong>Author:</strong> {{book.book_author}}</p>
            <p><strong>Published Date:</strong> {{book.published_date}}</p>


            <!-- Action Buttons -->
            <a href="{% url 'editBook' book.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'deleteBook' book.id %}" class="btn btn-danger btn-sm">Delete</a>
            <a href="{% url 'viewBook' %}" class="btn btn-secondary btn-sm">Back to List</a>
        </div>
    </div>
</div>


{% endblock body %}