{% extends 'base.html' %}

{% block title %}
<title>Book List</title>
{% endblock title %}


{% block body %}

<div class="container mt-5">
    <h2 class="text-center m-4">Books List</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Published Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Example Row 1 -->

            {% for book in books %}

            <tr>
                <th scope="row">{{book.id}}</th>
                <td>{{book.book_name}}</td>
                <td>{{book.book_author}}</td>
                <td>{{book.published_date|date:"d-m-Y"}}</td>
                <td>
                    <a href="{% url 'singleView' book.id %}" class="btn btn-info btn-sm">View</a>
                    <a href="{% url 'editBook' book.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'deleteBook' book.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>


            {% endfor %}



        </tbody>
    </table>
</div>


{% endblock body %}